<h3>Satellite Counts</h3>

<div class="counts">
   <div>Total: <span>{{satellites.length}}</span></div>
   <div>Space Debris: <span>{{getAmountOf('space debris')}}</span></div>
   <div>Communication: <span>{{getAmountOf('communication')}}</span></div>
   <div>Probe: <span>{{getAmountOf('probe')}}</span></div>
   <div>Positioning: <span>{{getAmountOf('positioning')}}</span></div>
   <div>Space Station: <span>{{getAmountOf('space station')}}</span></div>
   <div>Telescope: <span>{{getAmountOf('telescope')}}</span></div>
</div>