.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #da8a8a;
}

table {
  color: #111;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
}

.header-row {
    background: #34495E;
    color: rgb(88, 236, 255)
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}

/* bonus mission - zebra stripes */
tr:nth-child(1n+2){
    background-color: #ffd7ff;
}
tr:nth-child(even){
    background-color: #8a6c87;
}